<header id="active-sticky" class="fixed">
    <div class="container header-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="d-flex">
                    <div class="logo mr-auto">
                        <a [routerLink]="['/home']" class="custom-logo-link" rel="home"> <img width="400" height="400" src="assets/images/logo-main.png" class="custom-logo" alt="Vector Engineers, Inc | Kentucky Area - Logo" /> </a>
                    </div>
                    <div class="mainmenu onepage-menu">
                        <nav class="navbar-collapse clearfix smooth-scroll">
                            <ul id="menu-header_menu" class="menu">
                                <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-20"><a [routerLink]="['/home']">Home</a></li>
                                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a [routerLink]="['/aboutus']">About Us</a></li>
                                <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-25"><a>services</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="/services">overview</a></li>
                                        <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a [routerLink]="['/geotechnical']">GEOTECHNICAL ENGINEERING</a></li>
                                        <li id="menu-item-363" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-293 current_page_item menu-item-363"><a [routerLink]="['/geophysical']" aria-current="page">GEOPHYSICAL SERVICES</a></li>
                                        <li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362"><a [routerLink]="['/drilling']">DRILLING SERVICES</a></li>
                                        <li id="menu-item-361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361"><a [routerLink]="['/construction']">CONSTRUCTION SERVICES &#038; TESTING</a></li>
                                        <li id="menu-item-360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360"><a [routerLink]="['/forensic']">FORENSIC GEOTECHNICAL ENGINEERING</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-480" class="career menu-item menu-item-type-custom menu-item-object-custom menu-item-480"><a target="_blank" rel="nofollow" href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=a59d88e8-87a7-42c3-83ac-2de2200aefd4&#038;ccId=165919794_8471&#038;type=MP&#038;lang=en_US">Careers</a></li>
                                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a [routerLink]="['/contactus']">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- next start side menu -->

            </div>
        </div>
    </div>
    <app-mininav></app-mininav>

</header>

<div id="home" class="slider-area innerservice_banner height-100  bg-img-1 mearts-overlay rt-animate" data-rt-offset="50%" alt="Vector Engineers, Inc. | Geotechnical Engineering Services in Kentucky">
    <div class="d-table">
        <div class="dt-cell">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="slide-caption smooth-scroll" style="text-align:left;margin-left:0;">
                            <h1 class="mearts-author white-color other_service_h1" style="font-family: Rift-Regular;"> DRILLING<br/> SERVICES </h1>
                            <div class="lineservice"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Section End -->


<div id="primary">
    <div id="service_primary" class="content-area serviceinner">
        <div id="about" class="aboutservice_area white-bg rt-animate" data-rt-offset="50%">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 column-center">
                        <div class="mlr-minus clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid myself">
                                                    <div class="heading wpb_column vc_column_container vc_col-sm-12">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_text_column wpb_content_element " id="sertitle">
                                                                    <div class="wpb_wrapper">
                                                                        <h2>TO TRULY DIFFERENTIATE<br />
                                                                            <span class="clrb">OURSELVES FROM OTHER</span></h2>

                                                                    </div>
                                                                </div>

                                                                <div class="wpb_single_image wpb_content_element vc_align_center   sv1mob">

                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="516" height="516" src="assets/images/drilling-icon.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="assets/images/drilling-icon.png 516w, assets/images/drilling-icon-300x300.png 300w, assets/images/drilling-icon-150x150.png 150w"
                                                                                sizes="(max-width: 516px) 100vw, 516px" /></div>
                                                                    </figure>
                                                                </div>

                                                                <div class="wpb_text_column wpb_content_element ">
                                                                    <div class="wpb_wrapper">
                                                                        <p>engineering firms in the market, we own and operate our own fleet of Drill Rigs for soil and rock sampling, and for collection of soil and rock specimens for laboratory testing. By
                                                                            owning and operating our own equipment, we can better control the quality of the specimen(s) retrieved, and quickly adjust our boring program should our field engineer decide
                                                                            additional borings are required without having to obtain permission from the client. This feature alone, makes us one of the Top Drill Rig Companies in Kentucky.</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6" id="ssimg3">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div id="drilpic" class="wpb_single_image wpb_content_element vc_align_center">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="516" height="516" src="assets/images/drilling-services-firm-icon.png" class="vc_single_image-img attachment-full" alt="Engineers, Inc. | Top Drilling Services Firm in Kentucky" loading="lazy"
                                                                srcset="assets/images/drilling-services-firm-icon.png 516w, assets/images/drilling-services-firm-icon-300x300.png 300w, assets/images/drilling-services-firm-icon-150x150.png 150w" sizes="(max-width: 516px) 100vw, 516px"
                                                            /></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_row-fluid about-area white-bg">
                                    <div class="pt-40 wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid myself">
                                                    <div class="heading wpb_column vc_column_container vc_col-sm-12">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper">
                                                                <h2 style="font-size: 35px;line-height: 40px;text-align: left" class="vc_custom_heading">OUR FLEET CONSISTS OF THE FOLLOWING RIGS, WITH A TWO OR THREE-MAN CREW, DEPENDING ON THE SCHEDULE:</h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_text_column wpb_content_element  top-ul-part">
                                                                    <div class="wpb_wrapper">
                                                                        <ul>
                                                                            <li>A CME-45C on a Rubber Tracked Carrier (ATV) and a CME-55 on an International 4-Wheel Drive Truck. The ATV rigs allows us to access hard-to-reach sites and eliminate the need for
                                                                                a bulldozer to move the equipment around. All of the CME rigs are equipped with an Automatic Hammer.</li>
                                                                        </ul>

                                                                    </div>
                                                                </div>
                                                                <div class="vc_empty_space" style="height: 5px"><span class="vc_empty_space_inner"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service about-testimonial relative clearfix">

        <!-- CLIENTS CAROUSEL HOLDER -->
        <div id="serviceone" class="about-area rt-animate rt-animate-show" data-rt-offset="50%" style="margin-top:0;">
            <div class="row mailcol">
                <div id="sleft_text" class="left-text nopadding scol1 col-sm-3">
                    <div class="service-box-left">
                        <div class="xg-content">
                            <h2 class="title1">DRILL RIGS FOR<br/> SOIL AND ROCK<br/> SAMPLING
                            </h2>
                        </div>
                    </div>
                </div>
                <div id="sright_img" class="right-text nopadding scol2 col-sm-9">
                    <div class="service-box-right"> <img src="assets/images/drill-rigs-services-rock-soil-sampling.jpg" border="0" alt="Vector Engineers, Inc. | Ground Penetrating Radar Services in Kentucky"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="innpage_content" class="innerservice">
        <div id="servicesingle" class="about-area section-padding rt-animate" data-rt-offset="50%">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 column-center">
                        <div class="mlr-minus clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h2>
                                    <span> <span class="tcolor">OUR SERVICES INCLUDE BUT ARE</span> <span>NOT LIMITED TO: </span> </span>
                                </h2>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="myself">
                                    <div class="heading">
                                        <p style="margin-right: 0px;">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-sm-6 dsleft">
                                                <div class="myself">
                                                    <div class="heading">
                                                        <ul>
                                                            <li>Hollow Stem Auger</li>
                                                            <li>Mud Rotary</li>
                                                            <li>NQ Rock Core</li>
                                                            <li>Undisturbed Shelby Tube Specimens</li>
                                                            <li>Split Spoon Testing</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-6 col-sm-6 dsrit">
                                                <div class="myself">
                                                    <div class="heading">
                                                        <ul>
                                                            <li>Site Seismic Evaluations</li>
                                                            <li>Liquification Testing</li>
                                                            <li>In-Situ Testing; Pressure Meter, CPT, and Dilatometer</li>
                                                            <li>Installation of Inclinometer Casing</li>
                                                            <li>Installation of Water Observation Wells</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="contact-area theme-bg section-padding rt-animate" data-rt-offset="215%">
        <div id="work" class="services-area light-bg relative rt-animate other_service" data-rt-offset="50%">
            <div class="container">
                <div class="row">
                    <div id="ctform_left" class="work_box service_box">
                        <div class="left-text col-sm-4 col-md-4">
                            <div class="pagework-boxleft">
                                <div class="xg-content">
                                    <div class="mobtle1">Need some expert advice<br/> on a project for you<br/> or a client? </div>
                                    <div class="tle1">

                                        NEED SOME <br/> EXPERT ADVICE<br/> ON A PROJECT FOR<br/> YOU OR A CLIENT?
                                    </div>
                                    <p>LET A CERTIFIED MEMBER OF OUR TEAM GUIDE YOU<br /> THROUGH THE ENTIRE PROCESS AND HELP YOU<br /> FINALIZE ON EXACTLY WHAT YOU NEED.</p>

                                </div>
                            </div>
                        </div>
                        <div class="right-text col-sm-8 col-md-8">
                            <div class="work-boxright xg-service-box-02 tinted-image" style="height:550px;padding: 0px 0px 0px 0px;border: 0px; ">
                                <div class="container-contact2">
                                    <div class="container-contact2">
                                        <div class="wrap-contact2" style="padding: 15px 75px 86px 32px;">
                                            <div id="mail-status"></div>
                                            <div class="wrap-input2 validate-input" data-validate="Name is required">
                                                <input class="input2 fname" type="text" name="name" #name (change)="onChange('name',name.value)" style="border: 0px;">
                                                <span class="focus-input2 pfname" data-placeholder="Name" [ngStyle]="{ 'display':name1 ? 'block': 'none'}"></span>
                                                <span class="focus-input2 pfnamereq" data-placeholder="Name is required" [ngStyle]="{ 'display':name2 ? 'block': 'none'}"></span>
                                            </div>
                                            <div class="wrap-input2 validate-input" data-validate="Phone number is required">
                                                <input class="input2 fmobile" type="tel" maxlength="10" name="mobile" #mobile (change)="onChange('mobile',mobile.value)" style="border:0px;">
                                                <span class="focus-input2 pmobile" data-placeholder="Mobile" [ngStyle]="{ 'display':mobile1 ? 'block': 'none'}"></span>
                                                <span class="focus-input2 pmobilereq" data-placeholder="Valid phone number is required" [ngStyle]="{ 'display':mobile2 ? 'block': 'none'}"></span>
                                            </div>
                                            <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                                <input class="input2 femail" type="email" name="email" #email (change)="onChange('email', email.value)" style="border: 0px">
                                                <span class="focus-input2 pemail" data-placeholder="Email" [ngStyle]="{ 'display':email1 ? 'block': 'none'}"></span>
                                                <span class="focus-input2 pemailreq" data-placeholder="Valid email is required: ex@abc.xyz" [ngStyle]="{ 'display':email2  ? 'block': 'none'}"></span>
                                            </div>
                                            <div class="wrap-input2 validate-input" data-validate="Message is required">
                                                <textarea class="input2 fmessage" name="message" #message (change)="onChange('message',message.value)" style="border: 0px"></textarea>
                                                <span class="focus-input2 pmessage" data-placeholder="Message" [ngStyle]="{ 'display':message1 ? 'block': 'none'}"></span>
                                                <span class="focus-input2 pmessagereq" data-placeholder="Message is required" [ngStyle]="{ 'display':message2 ? 'block': 'none'}"></span>

                                            </div>
                                            <re-captcha (resolved)="resolved($event)" (error)="onError($event)" errorMode="handled"></re-captcha>
                                            <div class="container-contact2-form-btn text-right" style="float: none;">
                                                <div class="wrap-contact2-form-btn">
                                                    <div class="contact2-form-bgbtn"></div>
                                                    <button class="contact2-form-btn" (click)="sendContact();"> <strong>SUBMIT</strong> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="svfoot">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div id="service_headingpart" class="heading white">
                            <div class="col-sm-3 sb1 nopadding">
                                <div class="col-xs-12 col-sm-12 col-md-4 nopadding">
                                    <div class="s_img">
                                        <div class="heading"> <img src="assets/images/1-geotechnical-engineering-icon.png" width="76" height="71" border="0" alt=""> </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8">
                                    <div class="s_text">
                                        <p><strong>
                      <a [routerLink]="['/geotechnical']" style="color:#b4563a;font-weight: 700;">GEOTECHNICAL <br/>
  ENGINEERING</a>					</strong><i class="fa fa-angle-right"></i></p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 sb2 nopadding">
                                <div class="col-xs-12 col-sm-12 col-md-4 nopadding">
                                    <div class="s_img">
                                        <div class="heading"> <img src="assets/images/2-geophysical-services-icon-1.png" width="66" height="66" border="0" alt=""> </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8">
                                    <div class="s_text">
                                        <p><strong>
                      <a [routerLink]="['/geophysical']" style="color:#b4563a;font-weight: 700;">Geophysical<br/>
  Services</a>					
                      </strong><i class="fa fa-angle-right"></i></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 sb3 nopadding">
                                <div class="col-xs-12 col-sm-12 col-md-4 nopadding">
                                    <div class="s_img">

                                        <div class="heading">

                                            <img src="assets/images/4-construction-services-testing-icon.png" width="92" height="66" border="0" alt=""> </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8">
                                    <div class="s_text">
                                        <p><strong>
                      <a [routerLink]="['/construction']" style="color:#b4563a;font-weight: 700;">Construction <br/> 
  Services & Testing</a>					</strong><i class="fa fa-angle-right"></i></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 sb4 nopadding">
                                <div class="col-xs-12 col-sm-12 col-md-4 nopadding">
                                    <div class="s_img">
                                        <div class="heading"> <img src="assets/images/5-forensic-geotechnical-engineering-icon.png" width="67" height="66" border="0" alt=""> </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 extra_text">
                                    <div class="s_text">
                                        <p><strong>
                      <a  [routerLink]="['/forensic']" style="color:#b4563a;font-weight: 700;">Forensic Geotechnical<br/> 
  Engineering</a>					</strong><i class="fa fa-angle-right"></i></p>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="divider theme-bg">
                            <hr class="line white btmline">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row" id="footerlink">
                    <div id="footmenu1" class="col-xs-12 col-sm-6 col-md-2 mobi-mb-30 footer-col">
                        <div class="contact-info">
                            <ul id="menu-header_menu" class="footer-classic-list d-inline-block d-sm-block footerLinks text-left">
                                <li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-171"><a [routerLink]="['/home']">Home</a></li>
                                <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a [routerLink]="['/aboutus']">About Us</a></li>
                                <li id="menu-item-508" class="active_menu3 menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a href="/services">services</a></li>
                                <li id="menu-item-481" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-481"><a target="_blank" rel="nofollow" href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=a59d88e8-87a7-42c3-83ac-2de2200aefd4&#038;ccId=165919794_8471&#038;type=MP&#038;lang=en_US">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="footadd1" class="col-xs-12 col-sm-6 col-md-2 mobi-mb-30 footer-col">
                        <div class="contact-info adds1">
                            <ul class="footer-classic-list d-inline-block d-sm-block text-right">
                                <li>
                                    <h3><strong>SHELBYVILLE</strong></h3>
                                </li>
                                <li>502-437-5650</li>
                                <li>1535 Old Finchville Road</li>
                                <li>Shelbyville, KY 40065</li>
                            </ul>
                        </div>
                    </div>
                    <div id="ftlogo" class="col-xs-12 col-sm-6 col-md-3 mobi-mb-30 footer-col footer-col-arrow text-center">
                        <div class="contact-info"> <img src="assets/images/vector-engineers-kentucky-logo.png" border="0" alt="Vector, Inc. | Logo"> </div>
                    </div>
                    <div id="footadd2" class="col-xs-12 col-sm-6 col-md-2 mobi-mb-30 footer-col">
                        <div class="contact-info adds2">
                            <ul class="footer-classic-list d-inline-block d-sm-block text-left">
                                <li>
                                    <h3><strong>OWENSBORO</strong></h3>
                                </li>
                                <li>(270) 984-2923</li>
                                <li>400 E Second St</li>
                                <li>Owensboro, KY 40303</li>
                            </ul>
                        </div>
                    </div>
                    <div id="footmenu2" class="col-xs-12 col-sm-6 col-md-2 mobi-mb-30 footer-col">
                        <div class="contact-info">
                            <ul id="menu-header_menu" class="footer-classic-list d-inline-block d-sm-block footerLinks text-left">
                                <li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a [routerLink]="['/contactus']">Contact Us</a></li>
                                <li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-176"><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                                <li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177"><a [routerLink]="['/terms']">Terms of use</a></li>
                                <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a [routerLink]="['/disclaimer']">Disclaimer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row social social-line">

                </div>
                <div class="row social" style="margin-top:2.5%;">
                    <div class="col-md-4 col-sm-4 copyright">
                        <p class="white-color">&#169; 2022 &nbsp;<a [routerLink]="['/home']">Vector Engineers, Inc.</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="col-xs-12 text-center"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 copyrightr">
                        <p class="white-color">Design - &nbsp;<a target="_blank" href="https://www.marchingantsglobal.com/">Marching Ants </a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>