.about-area .mlr-minus .col-xs-12.col-sm-12.col-md-6 {
	width: 100% !important;
	padding: 0;
}
.about-testimonial .slider-2-contant {
	text-align: center;
	right: 0;
	left: 0;
	margin-bottom: 10px;
	bottom: 0;
	padding-bottom: 15px;
}
.about-slider-content-update p {
	margin-top: 0 !important;
}
.slider-2-contant h5 {
	margin: 0 auto;
}
.about-testimonial .owl-nav {
	bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}
.about-testimonial .owl-dots {
	bottom: 30px;
	left: 0;
	right: 0;
}
.about-area .mlr-minus img {
	margin-top: 5px;
}
#pagebanner .slide-caption h1 {
	font-size: 50px;
}
#pagebanner .line1 {
	display: none;
}
#primary .pagearea2 img {
	margin: 0 auto !important;
}
.myself {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 30px;
}
.col-xs-3.team_left {
	height: auto;
	width: 100%;
	max-width: 100%;
	padding: 15px 15px 35px;
}
#content_about .col-xs-12.col-sm-12.col-md-12.column-center {
	padding: 0;
}
.col-xs-9.team_right {
	height: auto;
	width: 100%;
	max-width: 100%;
}
#service_primary .myself {
	padding-bottom: 0;
}
#our-team .team_right .col-md-6 {
	height: auto;
}
#team-holder {
	background-color: #000;
}
.about-testimonial {
	margin: 0 auto;
	padding-bottom: 50px;
}
.about-slider-content-update {
	padding: 0 20px 20px 20px;
}
.about-area .mlr-minus .col-xs-12.col-sm-12.col-md-12 {
	padding: 0;
}
.container .row {
	margin: 0 auto !important;
}
#content_about {
	padding-bottom: 50px;
	padding-top: 0;
}
.pagearea2 {
	padding-bottom: 50px;
	padding-top: 0;
}
.about-area .mlr-minus {
	margin-left: 0;
	padding-top: 0 !important;
}
.myself {
	padding-top: 30px;
}
#footerlink {
	margin-top: 0;
	justify-content: center;
	margin-bottom: 5%;
}
#footerlink .contact-info.adds1 ul li {
	text-align: center !important;
}
.contact-info ul {
	display: block !important;
	list-style: none;
	text-align: center;
}
#ftlogo {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}
#clients-holder .heading > h1 {
	font-size: 20px;
}
#footmenu2 .contact-info {
	float: none;
}
#askbtn a {
	margin: 20px auto 0px;
	padding: 0;
	width: 130px;
	font-size:14px;
}
#ctform_left h2 {
	font-size: 44px;
}
.social-line::before {
	top: 45%;
	max-width: 708px;
}
.copyrightr {
	padding-right: 0;
	text-align: center;
}
.copyright p {
	text-align: center;
}
.social-icon li a {
	margin: 0 15px !important;
}
.contact-info.adds1 ul li {
	text-align: left !important;
}
.footer-col {
	height: auto;
}
.contact-info.adds1 {
}
.work_box .work-boxleft h4 {
	font-size: 30px;
}
#contact .heading.white p {
	margin: 0 auto;
}
#pptext {
	padding: 0;
	display: block;
	clear: both;
	width: 100%;
	max-width: 320px;
	float: none;
	margin: 0 auto;
}
.work_box .work-boxleft {
	padding: 50px 0px 50px;
}
#foot_last .col-xs-12 {
	padding: 0;
}
#about_part .col-xs-12 {
	padding: 0 8px;
}
#service {
	padding: 50px 0 150px;
}
.section-title .title {
	font-size: 50px !important;
}
#work {
}
#popask {
	padding: 0;
}
.slide_left {
	height: 450px !important;
}
.top-services-slider .owl-nav {
	bottom: 10px;
}
.slide_right {
	height: 450px !important;
}
.dt-cell {
	display: block !important;
}
.top-services-slider #clients-holder .heading.white {
	bottom: 5% !important;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto !important;
	padding: 0 !important;
}
#rt_img .heading h1 {
	margin-bottom: 5px;
	font-size: 32px !important;
}
#rt_img .heading p {
	font-size: 11px !important;
}
.circle {
	display: none !important;
}
#about_part {
	padding-top: 0px !important;
	padding-bottom: 20px !important;
}
#about_part .aaImg {
	padding: 0;
	bottom: 0;
}
.top-services-slider .owl-dots {
	left: 0;
	bottom: 8%;
	right: 0;
	margin: 0 auto;
	text-align: center;
}
.top-services-slider .owl-dot p {
	font-size: 12px;
	display: inline-block;
}
#top_homebox .heading > h1 {
	font-size: 30px;
	line-height: 36px;
}
#top_homebox .heading p {
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 22px !important;
}
.aaImg img {
	margin: 0 auto;
	padding-top: 50px;
	display: block;
}
.rbox .text-right {
	text-align: center;
	padding-bottom: 25px !important;
}
.lbox .text-left {
	text-align: center;
	padding-top: 25px !important;
}
.work_box .left-text {
	width: 100%;
	float: none;
}
.work_box .right-text {
	width: 100%;
	float: none;
}
.aplybtn {
	position: relative;
	bottom: 0;
}
.colmain {
	display: flex;
	flex-direction: column
}
.col1 {
	order: 2;
}
.col2 {
	order: 1;
}
#footerlink {
	display: none;
}
#foot_last {
	padding: 30px 15px 0;
}
#foot_last .divider {
	display: none;
}
.top-services-slider .owl-nav {
	display: none;
}
.page-template-homepage .slide_container {
	display: flex;
	flex-direction: column
}
.page-template-homepage .slide_left {
	width: 100%;
	order: 2;
	height: 80px !important;
	text-align: center;
	left: 0;
	right: 0;
	background: none !important;
	background-color: #000 !important;
}
.page-template-homepage .slide_right {
	width: 100%;
	order: 1;
}
.top-services-slider .owl-dot p::before {
	display: none;
}
.top-services-slider .owl-dot::after {
	height: 1px;
	width: 25px;
	position: relative;
	right: 0;
	top: 0;
	display: inline-block;
	left: 10px;
	vertical-align: middle;
}
.top-services-slider .owl-dot {
	width: auto;
	display: inline-block;
	position: relative;
	padding: 0 10px;
}
#about_part .aaImg img {
	margin-top: 0;
	margin-left: 0 !important;
}
.container {
	width: 100% !important;
}
#home .slide-caption {
	padding: 0;
}
.custom-logo-link img {
	width: 210px !important;
}
.logo {
	padding-top: 25px;
}
.slide-caption p {
	font-size: 12.5px !important;
	letter-spacing: 0;
}
#top_homebox .lg-btn {
	width: 140px;
	margin: 0 auto;
	display: block;
}
.red_line {
	text-align: center;
	font-size: 42px;
}
.our_team {
	text-align: center;
	font-size: 42px;
}
.spn_w {
	text-align: center;
	font-size: 42px;
}
#pptext p {
	font-size: 13px;
	text-align: center;
}
#askbtn {
	right: 0;
	top: 4px;
	width: 100%;
	max-width: 100%;
	left: 0;
	margin: 0 auto;
	float: none;
}
.aplybtn a {
	margin-top: 10%;
	width: 130px;
	padding: 0;
	font-size:14px;
}
#work {
	padding: 0 15px;
	position: relative;
}
.work_box {
	padding: 0px;
}
#work .work_box .work-boxleft .xg-content {
	text-align: center !important;
}
.copyright {
	padding: 0 !important;
	margin-top: 30px;
	width: 100% !important;
	max-width: 100% !important;
}
.copyrightr {
	padding: 0 !important;
	width: 100% !important;
	max-width: 100% !important;
}
.work_box {
	width: 100%;
	max-width: 708px;
	margin: -100px auto 0;
}
#contact {
	padding-top: 0;
}
#homepage_title h1 {
	font-size: 42px;
	line-height: 46px;
}
.work_box .work-boxleft {
	padding: 50px 0px 50px;
}
#homepage_title h1::before {
	border: 3px solid #b4563a;
	width: 80px;
}
#pagebanner .slide-caption {
	padding: 0px;
	text-align: center;
}
#pagebanner .slide-caption h1::before {
	right: 0;
	border: 3px solid #b4563a;
	width: 100px;
	top: -20px;
	left: 0;
	margin: 0 auto;
}
.abpage_banner .lineabout {
	display: none;
}
#our-team .team_left {
	background: none !important;
	background-color: #fff !important;
	color: #000;
	text-align: center;
}
#our-team .team_left h2 {
	color: #000 !important;
}
#our-team .team_left p {
	font-size: 15px;
	color: #000;
	text-align: center;
	width: 100%;
	max-width: 325px;
	margin: 0 auto;
}
.team_left h2.top-border::before {
	width: 90px;
	right: 0;
	margin: 0 auto;
	left: 0;
}
#primary {
	overflow: hidden;
	position: relative;
}
#aboutdesktop {
	display: none;
}
#aboutmob .tab-card-header {
	background: transparent;
	border: 1px solid #b4563a;
	padding: 0;
	width: 100%;
}
#aboutmob .tab-card-header #myTab {
	padding: 0;
	margin: 0 auto;
	border: 0 !important;
	width: 100% !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#aboutmob .tab-card-header ul li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	border: 0 !important;
}
#aboutmob .tab-card-header ul li a {
	border: 0 !important;
	color: #000;
	border-radius: 0;
	line-height: 50px;
	margin: 0 !important;
}
#aboutmob .tab-card-header ul li.active a {
	background-color: #b4563a;
	color: #fff;
}
#aboutmob .tab-pane {
	padding: 15px 0 !important;
}
#aboutmob .card {
	border: none !important;
}
#our-team .owl-nav {
	display: none;
}
.about-testimonial .owl-dots {
	max-width: 100%;
	text-align: center;
}
.about-testimonial .owl-dot p::before {
	display: none;
}
#our-team .owl-dot p {
	font-size: 12px;
	display: inline-block;
}
#our-team .owl-dot::after {
	height: 1px;
	width: 25px;
	position: relative;
	right: 0;
	top: 0;
	display: inline-block;
	left: 10px;
	vertical-align: middle;
}
#our-team .owl-dot {
	width: auto;
	display: inline-block;
	position: relative;
	padding: 0 10px;
}
#our-team .owl-dot p span {
	display: none;
}
.about-testimonial .owl-dot:nth-child(3)::after {
	display: none !important;
}
.about-testimonial .team_right_content {
	padding: 35px 15px;
	background-color: #000;
}
#content_about {
	padding-left: 15px;
	padding-right: 15px;
}
.about_btm {
	text-align: center;
}
.about_btm h2 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 24px !important;
	line-height: 30px;
}
.about_btm h2::before {
	border: 3px solid #b4563a;
	width: 90px;
	top: -30px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.about_btm h2 sap {
	position: relative;
	font-size: 24px;
	right: 5px;
	top: 0;
}
.about_heading {
	display: none;
}
.ab_btmtxt {
	display: none;
}
.mbimg {
	padding-bottom: 25px;
}
.dxkimg {
	display: none;
}
.page-template-services .home-banner .container.header-container {
	padding: 0 20px !important;
}
.page-template-services .home-banner .col-xs-12 {
	padding: 0;
}
.page-template-services #bannerSlider .banner_slider_section .banner_slider_content .banner_slider .banner_slider_box .heading_part h1 {
	font-size: 36px !important;
	line-height: 42px !important;
}
.page-template-services #bannerSlider .banner_slider_section .banner_slider_content .banner_slider .banner_slider_box .slider_box_right_part {
	max-width: 300px;
	padding-right: 0;
	padding-left: 25px;
	padding-top: 0;
}
#bannerSlider .banner_slider_section .banner_slider_content .banner_slider .banner_slider_box .heading_part h1::after {
	height: 6px !important;
}
.page-template-services .banner_slider_content .heading_part {
	padding-left: 25px;
}
.page-template-services #bannerSlider .banner_slider_section .banner_slider_content .banner_slider .banner_slider_box .slider_box_right_part p {
	line-height: 20px;
	font-size: 14px !important;
}
.page-template-services .slider_thumbnail_part ul li span {
	display: none;
}
.page-template-services .slider_thumbnail_part .container {
	padding: 0 10px;
}
#bannerSlider {
	padding: 0 !important;
	overflow: visible !important;
}
#bannerSlider .row {
	margin: 0 auto;
	display: block;
}
#bannerSlider .banner_slider_section .banner_slider_content .slider_thumbnail_part {
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 8px 0;
	right: 0;
	margin: 0 auto;
}
.page-template-services #bannerSlider .banner_slider_section .banner_slider_content .slider_thumbnail_part .thumbnail_menu li a {
	font-size: 11px;
	line-height: 25px;
}
.page-template-services .mouse {
	display: none;
}
.page-template-services #pptext p {
	font-size: 12px;
	margin-left: 0;
	text-align: center;
}
.page-template-services #askbtn a {
	margin-top: 20px;
	width: 130px;
	line-height: 28px;
	font-size:14px;
}
.page-template-services #social ul li a {
	margin: 0 8px !important;
}
.page-template-services .theme-bg {
	display: none;
}
.page-template-services #social {
	margin-top: 35px;
}
.page-template-services #footer_service {
	padding-top: 80px !important;
}
#service_boxes {
	display: none;
}
#service-mob-customers .xg-service-box-01 .xg-content .title {
	font-size: 25px;
}
#service .section-title {
	text-align: center !important;
	float: inherit !important;
}
#service .section-title h3 hr {
	border: 4px solid #b4563a !important;
	width: 60px !important;
	margin: 0 auto !important;
}
#service-mob-customers {
	text-align: center;
}
#service_boxes_mob .lg-btn {
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	float: none;
	display: block;
	width: 150px;
	padding: 0;
}
#service_boxes_mob .owl-dot::before {
	font-size: 18px;
}
#service_boxes_mob .owl-dot {
	padding: 0 7.2px;
}
#ssimg1 {
	display: none;
}
#service_headingpart {
	display: none;
}
#svfoot .divider {
	display: none;
}
#svfoot {
	padding: 0 15px;
}
.page-template-service_sub .col-xs-12 {
	padding: 0;
}
.page-template-service_sub .slide-caption h1 {
	text-align: center;
	font-size: 50px;
}
.lineservice {
	display: none;
}
.innerservice_banner .slide-caption h1::before {
	left: 0;
	width: 80px;
	right: 0;
	margin: 0 auto;
	border: 3px solid #b4563a;
}
.page-template-service_sub .aboutservice_area #sertitle h2 {
	font-size: 30px !important;
	line-height: 40px !important;
	text-align: center;
	letter-spacing:0;
}
.page-template-service_sub .aboutservice_area #sertitle h2::before {
	left: 0;
	width: 80px;
	margin: 0 auto 20px;
	height: 6px;
	right: 0;
}
.page-template-service_sub #about {
	padding: 30px 15px;
}
.page-template-service_sub .top-ul-part {
	margin-bottom: 0;
}
.page-template-service_sub #service_primary ul li {
	font-size: 13px;
	margin-bottom: 6px;
}
.aboutservice_area p {
	font-size: 14px;
	line-height: 24px;
}
#servicesingle p {
	font-size: 14px;
	line-height: 24px;
}
.page-template-service_sub .about-area h2 {
	line-height: 30px !important;
	text-align: center !important;
	letter-spacing: 0;
	padding-top: 5px;
}
.drilling-works h2.title1 {
}
.page-template-service_sub #servicesingle h2 {
	font-size: 20px !important;
}
#sbmainhd {
	font-size: 22.3px !important;
	padding-top: 25px;
}
#sv1_ttl {
	font-size: 20.5px !important;
}
.page-template-service_sub .vc_custom_1593251483422 {
	padding: 0 !important;
}
.page-template-service_sub .about-area .pt-40 {
	padding-top: 0;
}
#gtright {
	padding-left: 0;
}
.wrap-contact2 {
	width: 100%;
	padding: 20px;
}
#ctform_left .container-contact2-form-btn {
	float: inherit !important;
}
.tle1 br {
	display: none;
}
.page-template-service_sub #servicesingle {
	padding: 50px 15px 130px;
	position: relative;
}
.page-template-service_sub .about-testimonial {
	padding-bottom: 0;
}
.page-template-service_sub #service-holder .owl-nav {
	display: none;
}
.page-template-service_sub .service_left h2 br {
	display: none;
}
.page-template-service_sub #svleft {
	width: 100%;
	height: auto !important;
	text-align: center;
	padding: 0px 35px !important;
	background-color: #fff !important;
	background: none !important;
}
.page-template-service_sub .service_left h2 {
	color: #000;
	font-size: 20px !important;
}
.page-template-service_sub #svright {
	width: 100%;
}
.page-template-service_sub .slider-2-contant h5 {
	font-size: 30px;
}
.page-template-service_sub #service-holder .owl-dots {
	position: relative !important;
	background-color: #000;
	padding: 20px 0;
	bottom: 0 !important;
}
.page-template-service_sub #service-holder::after {
	position: relative;
	height: auto;
	box-shadow: none;
}
.page-template-service_sub .work_box .pagework-boxleft {
	padding: 25px 5px;
}
.page-template-service_sub .tle1 br {
	display: none;
}
.page-template-service_sub .tle1 {
	font-size: 30px;
	letter-spacing: 0px;
	text-align: center;
}
.mobtle1 {
	font-size: 26px;
}
.page-template-service_sub #ctform_left p {
	font-size: 14px;
	text-align: center;
	width: 100%;
	max-width: 260px;
	margin: 30px auto 10px;
}
.page-template-service_sub .sv1mob img {
	margin-top: 5px !important;
}
.page-template-service_sub .innerservice ul li {
	font-size: 13px;
	margin-bottom: 6px;
}
.page-template-service_sub .about-area .myself {
	padding-bottom: 0;
	padding-top: 0;
}
.page-template-service_sub #svttl {
	font-size: 14px !important;
}
#sv2pic {
	display: none;
}
#drilpic {
	display: none;
}
#construction_svimg {
	display: none;
}
#ssimg4 {
	display: none;
}
.page-template-service_sub #servicesingle h3 {
	margin: 0 0 30px;
	font-size: 20px !important;
	text-align: center;
}
.page-template-service_sub #servicesingle h3 span {
	clear: both;
	display: block;
	width: 100%;
}
.mailcol {
	display: flex;
	flex-direction: column
}
.scol1 {
	order: 2;
}
.scol2 {
	order: 1;
}
.page-template-service_sub #sleft_text .service-box-left .xg-content {
	padding: 0 !important;
}
.page-template-service_sub .title1 br {
	display: none;
}
.page-template-service_sub h2.title1 {
	margin: 20px 0;
	
}
.page-template-innerpage #contact {
	padding-top: 0 !important;
}
.page-template-innerpage #footpage .pageline {
	display: none;
}
.page-template-innerpage #footpage #nav_heading {
	display: none;
}
.page-template-innerpage .work_box .pagework-boxleft {
	padding: 25px 18px;
}
.page-template-innerpage .tle1 br {
	display: none;
}
.page-template-innerpage .tle1 {
	font-size: 30px;
	letter-spacing: 0.1px;
	text-align: center;
}
.page-template-innerpage #ctform_left p {
	font-size: 14px;
	text-align: center;
}
#pagecontent {
	background-size: 800px;
	padding-bottom: 125px;
}
#pagecontent h2 {
	line-height: 45px;
	text-align: center;
}
#pagecontent h2::before {
	width: 100px;
	height: 8px;
	right: 0;
	margin: 0 auto 25px;
}
.linetop {
	display: none;
}
.innerpage_banner .title_break h1 {
	text-align: center;
	position: relative;
	max-width: 130px;
	font-size: 42px;
	margin: 0 auto;
}
.innerpage_banner h1::before {
	width: 80px;
	top: -10px;
	left: 0;
	margin: 0 auto;
	right: 0;
	border: 3px solid #b4563a;
}
.page-template-default #contact {
	padding-top: 0 !important;
}
.page-template-default #footpage .pageline {
	display: none;
}
.page-template-default #footpage #nav_heading {
	display: none;
}
.page-template-default .work_box .pagework-boxleft {
	padding: 25px 18px;
}
.page-template-default .tle1 br {
	display: none;
}
.page-template-default .tle1 {
	font-size: 30px;
	letter-spacing: 0.1px;
	text-align: center;
}
.page-template-default #ctform_left p {
	font-size: 16px;
	text-align: center;
}
.page-template-default .innerpage_banner .slide-caption {
	text-align: center;
}
.page-template-default .innerpage_banner .slide-caption h1 {
	font-size: 42px !important;
}
/*.abpage_banner .dt-cell {
	padding-top: 60%;
}
.innerservice_banner .dt-cell {
	padding-top: 60%;
}
.innerpage_banner .dt-cell {
	padding-top: 60%;
}*/
#sright_img {
	border-left: none;
}
.page-template-services .thumbnail_menu {
	display: block !important;
	text-align: center;
	width: 100%;
}
.page-template-services .thumbnail_menu li {
	display: inline-block;
}
#map_part {
	display: none;
}
#contactpage_addrs {
	display: none;
}
/*.page-template-contact .dt-cell {
	padding-top: 60%;
}*/
.page-template-contact .slide-caption h1 {
	text-align: center;
	font-size: 50px;
}
.page-template-contact .contactpage_banner h1::before {
	right: 0;
	border: 3px solid #b4563a;
	width: 100px;
	left: 0;
	margin: 20px auto;
}
.page-template-contact #contact {
	padding-top: 0 !important;
}
.page-template-contact #footpage .pageline {
	display: none;
}
.page-template-contact #footpage #nav_heading {
	display: none;
}
.page-template-contact .work_box .pagework-boxleft {
	padding: 25px 18px;
}
.page-template-contact .tle1 br {
	display: none;
}
.page-template-contact .tle1 {
	font-size: 30px;
	letter-spacing: 0.1px;
	text-align: center;
}
.page-template-contact #ctform_left p {
	font-size: 14px;
	text-align: center;
}
.page-template-contact .vc_tta.vc_tta-tabs .vc_tta-tabs-container {
	display: block !important;
}
.page-template-contact .vc_tta.vc_general .vc_tta-panel-heading {
	display: none !important;
}
.page-template-contact .vc_tta-tabs-list {
	border: 1px solid #b4563a;
	margin: 0 !important;
	padding: 0 !important;
}
.page-template-contact .vc_tta-tab {
	width: 50%;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}
.page-template-contact .vc_tta-tab.vc_active {
	background-color: #b4563a;
	padding: 0 !important;
}
#work .right-text .xg-service-box-02 {
	background-position: 80% 0;
}
.page-template-contact .vc_tta-tab.vc_active a {
	color: #fff !important;
}
.page-template-contact .vc_tta-tab a {
	border: 0 !important;
	font-size: 20px;
	color: #000 !important;
}
.page-template-contact .vc_tta-tab a:hover {
	border: 0 !important;
	background-color: transparent !important;
}
.page-template-contact .vc_tta-panel-body {
	padding: 50px 0 10px !important;
	border: 0 !important;
}
.page-template-contact #mobile-tab-part .vc_col-sm-2 {
	width: 25%;
	float: left;
	max-width: 80px;
}
.page-template-contact #mobile-tab-part .vc_col-sm-10 {
	width: 75%;
	float: left;
}
.page-template-contact #mobile-tab-part .vc_single_image-wrapper img {
	width: 100%;
	height: auto;
	max-width: 40px;
}
.page-template-contact #mobile-tab-part iframe {
	max-height: 300px;
}
.page-template-contact #contact_pagecontent {
	padding-bottom: 100px;
	padding-top: 0px;
}
.page-template-contact #innpage_primary {
	padding-top: 50px;
}
#mobcttile h2 {
	color: #b4563a;
	position: relative;
	padding-top: 10px;
}
#mobcttile h2::before {
	content: "";
	position: absolute;
	border: 3px solid #b4563a;
	width: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
}
#mbsocil {
	padding: 15px;
}
.modal-dialog-centered {
	width: 100% !important;
}
#myModal .wrap-contact2 {
	width: 100%;
	padding: 0 !important;
}
.innerservice {
	background-size: 680px;
	background-position: bottom -25px left -15px;
}
.error_img {
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
	height: auto;
}
.error404 .error_ttl {
	font-size: 50px;
	color: #fff;
	margin-bottom: 5px;
}
.error404 h2 {
	font-size: 28px !important;
	margin-bottom: 2px;
}
.error404 p {
	color: #fff;
	font-size: 9px !important;
	font-family: Rift-Regular;
}
.error404 p a {
	color: #fff;
}
#aboutmob {
	padding-top: 50px;
}
.ableft_img {
	background-color: #b4563a;
	text-align: center;
	margin-bottom: 30px;
}
.abright_img {
	background-color: #959595;
	text-align: center;
	margin-bottom: 30px;
}
#myTabContent p {
	text-align: justify;
}
#myTabContent h2 {
	margin: 50px 0 30px;
	text-align: center;
	line-height: 40px;
	position: relative;
}
#myTabContent h2 span {
	clear: both;
	display: block;
	width: 100%;
}
#myTabContent h2::before {
	position: absolute;
	content: "";
	width: 100px;
	height: 5px;
	background-color: #b4563a;
	top: -15px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#our-customers .readmore {
	display: none;
}
#content_bg {
	background: none !important;
}
#content_bg::before {
	box-shadow: none !important;
}
.page-template-homepage #our-customers .slide_right {
	height: 250px !important;
}
.responsive-menu-box {
	margin-right: 10px;
}
#service-mob-customers .xg-service-box-01 {
	width: 100%;
	max-width: 300px;
	margin: 0px auto 30px;
}
#sync2 {
        background-color: #000000;
        padding: 20px 45px;
    }
	