<header id="active-sticky" class="fixed">
    <div class="container header-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="d-flex">
                    <div class="logo mr-auto">
                        <a [routerLink]="['/home']" class="custom-logo-link" rel="home"> <img width="400" height="400" src="assets/images/logo-main.png" class="custom-logo" alt="Vector Engineers, Inc | Kentucky Area - Logo" /> </a>
                    </div>
                    <div class="mainmenu onepage-menu">
                        <nav class="navbar-collapse clearfix smooth-scroll">
                            <ul id="menu-header_menu" class="menu">
                                <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-20"><a [routerLink]="['/home']">Home</a></li>
                                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a [routerLink]="['/aboutus']">About Us</a></li>
                                <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25"><a>services</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="/services">overview</a></li>
                                        <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a [routerLink]="['/geotechnical']">GEOTECHNICAL ENGINEERING</a></li>
                                        <li id="menu-item-363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363"><a [routerLink]="['/geophysical']">GEOPHYSICAL SERVICES</a></li>
                                        <li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362"><a [routerLink]="['/drilling']">DRILLING SERVICES</a></li>
                                        <li id="menu-item-361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361"><a [routerLink]="['/construction']">CONSTRUCTION SERVICES &#038; TESTING</a></li>
                                        <li id="menu-item-360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360"><a [routerLink]="['/forensic']">FORENSIC GEOTECHNICAL ENGINEERING</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-480" class="career menu-item menu-item-type-custom menu-item-object-custom menu-item-480"><a target="_blank" rel="nofollow" href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=a59d88e8-87a7-42c3-83ac-2de2200aefd4&#038;ccId=165919794_8471&#038;type=MP&#038;lang=en_US">Careers</a></li>
                                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a [routerLink]="['/contactus']">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- next start side menu -->

            </div>
        </div>
    </div>
    <app-mininav></app-mininav>

</header>

<div id="home" class="innerpage_banner slider-area height-100  bg-img-1 mearts-overlay rt-animate" data-rt-offset="50%">
    <div class="d-table">
        <div class="dt-cell">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="slide-caption smooth-scroll">
                            <h1 class="mearts-author white-color">Disclaimer</h1>
                            <div class="linetop"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Section End -->

<div id="innpage_primary" class="content-area">
    <div id="pagecontent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner_sec">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1607596353298">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h2><span class="clr">DISCLAIMER</span><br /> CURRENTLY PLACED BY MARCHING ANTS.</h2>

                                            </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>This policy has been created for <a style="color: blue; font-family: 'Gilroy-Regular';" [routerLink]="['/home']">Vector Engineers, Inc.</a> Your continued use of this website implies your acceptance of our
                                                    <a style="color: blue; font-family: 'Gilroy-Regular';" [routerLink]="['/terms']">Terms,</a><a style="color: blue; font-family: 'Gilroy-Regular';" [routerLink]="['/privacy']"> Privacy,</a> and <a style="color: blue; font-family: 'Gilroy-Regular';"
                                                        [routerLink]="['/disclaimer']">Disclaimer</a> policies.</p>

                                            </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>This disclaimer was last modified on <span style="background-color: yellow;">Thursday, December 17, 2020.</span></p>

                                            </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>The information contained within this website is for general information purposes only, and has been provided by <a style="color: blue; font-family: 'Gilroy-Regular';" [routerLink]="['/home']">Vector Engineers, Inc.,</a>                                                    and while we endeavor to keep the information up to date and accurate, we make no representations or warranties of any kind, express or implied, about the completeness, authenticity, reliability, suitability,
                                                    or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore
                                                    strictly at your own risk.</p>

                                            </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>In no event will we be liable for any loss or damage including without limitation, indirect, or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising
                                                    out of, or in connection with, the use of this website.</p>

                                            </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>Through this website you are able to link to other websites which are not directly under the control of Vector Engineers, Inc. We have no control over the nature, content, and availability of those sites.
                                                    The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. While every effort is made by Vector Engineers, Inc., to keep this website up and running
                                                    smoothly, we take no responsibility for, and will not be held liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="contact" class="contact-area theme-bg section-padding rt-animate" data-rt-offset="215%">
        <div id="work" class="services-area light-bg relative rt-animate" data-rt-offset="50%">
            <div class="container">
                <div class="row">
                    <div id="ctform_left" class="work_box other_box">
                        <div class="left-text col-sm-4 col-md-4">
                            <div class="pagework-boxleft">
                                <div class="xg-content">
                                    <div class="mobtle1">Need some expert advice<br/> on a project for you<br/> or a client? </div>
                                    <div class="tle1">Need some <br/> expert advice <br/> on a project for <br/> you or a client? </div>

                                    <p>Let a certified member of our team guide you<br /> through the entire process and help you<br /> finalize on exactly what you need.</p>
                                </div>
                            </div>
                        </div>
                        <div class="right-text col-sm-8 col-md-8">
                            <div class="work-boxright xg-service-box-02 tinted-image" style="height:550px;padding: 0px 0px 0px 0px;border: 0px; ">
                                <div class="container-contact2">
                                    <div class="wrap-contact2" style="padding: 15px 75px 86px 32px;">
                                        <div id="mail-status"></div>
                                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                                            <input class="input2 fname" type="text" name="name" #name (change)="onChange('name',name.value)" style="border: 0px;">
                                            <span class="focus-input2 pfname" data-placeholder="Name" [ngStyle]="{ 'display':name1 ? 'block': 'none'}"></span>
                                            <span class="focus-input2 pfnamereq" data-placeholder="Name is required" [ngStyle]="{ 'display':name2 ? 'block': 'none'}"></span>
                                        </div>
                                        <div class="wrap-input2 validate-input" data-validate="Phone number is required">
                                            <input class="input2 fmobile" type="tel" maxlength="10" name="mobile" #mobile (change)="onChange('mobile',mobile.value)" style="border:0px;">
                                            <span class="focus-input2 pmobile" data-placeholder="Mobile" [ngStyle]="{ 'display':mobile1 ? 'block': 'none'}"></span>
                                            <span class="focus-input2 pmobilereq" data-placeholder="Valid phone number is required" [ngStyle]="{ 'display':mobile2 ? 'block': 'none'}"></span>
                                        </div>
                                        <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                            <input class="input2 femail" type="email" name="email" #email (change)="onChange('email', email.value)" style="border: 0px">
                                            <span class="focus-input2 pemail" data-placeholder="Email" [ngStyle]="{ 'display':email1 ? 'block': 'none'}"></span>
                                            <span class="focus-input2 pemailreq" data-placeholder="Valid email is required: ex@abc.xyz" [ngStyle]="{ 'display':email2  ? 'block': 'none'}"></span>
                                        </div>
                                        <div class="wrap-input2 validate-input" data-validate="Message is required">
                                            <textarea class="input2 fmessage" name="message" #message (change)="onChange('message',message.value)" style="border: 0px"></textarea>
                                            <span class="focus-input2 pmessage" data-placeholder="Message" [ngStyle]="{ 'display':message1 ? 'block': 'none'}"></span>
                                            <span class="focus-input2 pmessagereq" data-placeholder="Message is required" [ngStyle]="{ 'display':message2 ? 'block': 'none'}"></span>

                                        </div>
                                        <re-captcha (resolved)="resolved($event)" (error)="onError($event)" errorMode="handled"></re-captcha>
                                        <div class="container-contact2-form-btn text-right" style="float: none;">
                                            <div class="wrap-contact2-form-btn">
                                                <div class="contact2-form-bgbtn"></div>
                                                <button class="contact2-form-btn" (click)="sendContact();"> <strong>SUBMIT</strong> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footpage">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div id="nav_heading" class="heading white mb-75">
                            <div class="foot-menu">
                                <nav class="navbar-btm clearfix">
                                    <div class="menu-footer-page-menu-container">
                                        <ul id="menu-footer-page-menu" class="menu">
                                            <li id="menu-item-83" class="active_menu1 menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-83"><a [routerLink]="['/home']">Home</a></li>
                                            <li id="menu-item-84" class="active_menu2 menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a [routerLink]="['/aboutus']">About Us</a></li>
                                            <li id="menu-item-509" class="active_menu3 menu-item menu-item-type-post_type menu-item-object-page menu-item-509"><a href="/services">services</a></li>
                                            <li id="menu-item-482" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-482"><a target="_blank" rel="nofollow" href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=a59d88e8-87a7-42c3-83ac-2de2200aefd4&#038;ccId=165919794_8471&#038;type=MP&#038;lang=en_US">Careers</a></li>
                                            <li id="menu-item-87" class="active_menu5 menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a [routerLink]="['/contactus']">Contact</a></li>
                                            <li id="menu-item-88" class="active_menu6 menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-88"><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                                            <li id="menu-item-90" class="active_menu8 menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a [routerLink]="['/terms']">Terms of use</a></li>
                                            <li id="menu-item-89" class="active_menu7 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-66 current_page_item menu-item-89"><a [routerLink]="['/disclaimer']" aria-current="page">Disclaimer</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center pageline">
                        <div class="divider theme-bg">
                            <hr class="line white btmline">
                        </div>
                    </div>
                </div>
                <br>


                <div class="row social">
                    <div class="col-md-4 col-sm-4 copyright">
                        <p class="white-color">&#169; 2022 &nbsp;<a [routerLink]="['/home']">Vector Engineers, Inc.</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="col-xs-12 text-center"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 copyrightr">
                        <p class="white-color">Design - &nbsp;<a target="_blank" href="https://www.marchingantsglobal.com/">Marching Ants </a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
</div>